# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Build output (if any)
dist/
build/

# Nodemon files
nodemon.json

# IDE / Editor files
.vscode/
.idea/

# Mac / Linux system files
.DS_Store
Thumbs.db

# Optional test coverage
coverage/
